.custom-container.contact {
    &.line-center:after {
        bottom: 5rem;
    }

    .custom-container-title-icon {
        margin-top: 0.1875rem;
    }

    .custom-container-title-divider {
        margin-top: -0.25rem;
    }

    .custom-container-title-text {
        margin-top: -0.25rem;
    }

    .custom-container-content {
        height: calc(100vh - 11.25rem);
        background: $primary;
        @include container-shadow;
        position: relative;

        .contact-information {
            width: calc(100% - 1.5rem);
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .title {
                text-align: center;

                &:last-child {
                    margin-top: 1.5rem;
                }
            }

            .contact-email {
                text-align: center;
                img {
                    width: 30rem;
                    max-width: 100%;
                    padding: 0 0.5rem;
                }
            }
        }
    }
}
