.custom-container.about-me {
    position: relative;

    .about-me-educations,
    .about-me-work-experiences {
        overflow-y: auto;

        .about-me-education,
        .about-me-work-experience {
            @include container-shadow;

            position: relative;
            line-height: 1.2rem;
            padding: 1rem;

            background: $light-blue;
            height: calc(100% - 0.5rem);
            margin: 0.25rem;

            .title-bar {
                position: relative;
                padding-bottom: 0.5rem;
                border-bottom: 2px solid $orange;

                .title {
                    margin-bottom: 0;
                }

                .icon {
                    position: absolute;
                    font-size: 1rem;
                    top: -0.125rem;
                }
            }

            .time-table-icon-line {
                position: relative;

                margin: 0.5rem 0;

                .time-table-icon-line-text {
                    margin: 0;
                }

                .icon {
                    position: absolute;
                    font-size: 1rem;
                    top: -0.25rem;
                }
            }

            &.left {
                .title-bar {
                    .title {
                        margin-left: 2rem;
                    }

                    .icon {
                        left: 0;
                    }
                }

                .time-table-icon-line {
                    .time-table-icon-line-text {
                        margin-left: 2rem;
                    }

                    .icon {
                        left: 0;
                    }
                }

                .about-me-work-experience-technique {
                    margin-right: 0.25rem;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &.right {
                .title-bar {
                    .title {
                        margin-right: 2rem;
                    }

                    .icon {
                        right: 0;
                    }
                }

                .time-table-icon-line {
                    .time-table-icon-line-text {
                        margin-right: 2rem;
                    }

                    .icon {
                        right: 0;
                    }
                }

                .about-me-work-experience-technique {
                    margin-left: 0.25rem;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            .about-me-work-experience-techniques {
                margin-top: 0.5rem;
                margin-bottom: 0.25rem;
                font-size: 0.875rem;

                .about-me-work-experience-technique {
                    padding: 0.125rem 0.25rem;
                    background: $orange;
                    border-radius: 1rem;
                    white-space: nowrap;
                    display: inline-block;
                    margin-top: 0.25rem;
                }
            }
        }
    }

    .about-me-languages,
    .about-me-frameworks {
        text-align: center;

        .about-me-item {
            margin: calc(10% / (8 * 2));
            width: calc(90% / 8);

            @include until($tablet) {
                margin: calc(10% / (3 * 2));
                width: calc(90% / 3);
            }

            display: inline-block;
        }
    }
}
