.custom-container {
    min-height: calc(100vh - #{$navbar-height});
    padding-top: 2rem;
    padding-bottom: 2rem;
    $line-width: 4px;

    @include until($desktop) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    &.line-left:after {
        position: absolute;
        bottom: -0.125rem;
        left: calc(50% - 10rem);
        top: -0.125rem;
        content: '';
        border-right: $line-width solid $orange;
        z-index: -1;
    }

    &.line-right:after {
        position: absolute;
        bottom: -0.125rem;
        left: calc(50% + 10rem - #{$line-width});
        top: -0.125rem;
        content: '';
        border-left: $line-width solid $orange;
        z-index: -1;
    }

    &.line-center:after {
        position: absolute;
        bottom: -0.125rem;
        left: calc(50% - #{$line-width} / 2);
        top: 0;
        content: '';
        border-left: $line-width solid $orange;
        z-index: -1;
    }

    .custom-container-title {
        position: relative;
        z-index: 20;
        background: $primary;
        @include container-shadow;
        height: 4rem;

        .title {
            line-height: 2.5rem;
        }

        .custom-container-title-icon {
            vertical-align: middle;
            display: inline-block;
            font-size: 1.75rem;
            margin-top: 0.125rem;
            margin-left: 0.25rem;
        }

        .custom-container-title-divider {
            vertical-align: middle;
            display: inline-block;
            border-bottom: 0.25rem solid $orange;
            margin: 0 0.75rem;
            width: 1rem;
        }

        .custom-container-title-text {
            vertical-align: middle;
            display: inline-block;
        }
    }

    .custom-container-columns {
        .custom-container-columns-content {
            background: $primary;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            margin-top: 0.5rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
